@model IEnumerable<HireGnome.Models.Products>
@{
    ViewBag.Title = "Index";
    ViewBag.Price = 0;
}

<div class="panel-title text-center">
    <h2>Find your Gnome</h2>


</div>

<script>
    function addProductToCart(id) {
        var request = new XMLHttpRequest();
        request.open("GET", "/Cart/Add/" + id);
        request.onreadystatechange = function () {
            if (request.readyState == XMLHttpRequest.DONE) {
                var gnomes = JSON.parse(request.responseText);
                console.log(request.responseText);
            };
        };
        request.send();
    }
</script>



<div class="container-fluid"> <!--Full width container-->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="@item.Image" alt="@item">
                </div>
                
                <div class="panel-title text-center">
                    @if (!item.IsPublic)
                    {
                        
                        <h3 style="color:red">@item.Name ~ Disabled Gnome</h3>
                    }
                    else
                    {
                        <h3>@item.Name</h3>
                    }

                    <button class="btn btn-info bg-danger btn-md"onclick="window.location.assign('/Product/Show?gnome_id=' + @item.Id)">Details</button>
                    <button onclick="window.location.assign('/Cart/Add/'+ @item.Id)" class="btn btn-success btn-md">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        @if(item.Offer > 0)
                        {
                            {
                                ViewBag.Price = (item.Price * item.Offer) / 100;
                            }
                            <strike>@item.Price</strike> <b>@ViewBag.Price</b>
                        }
                        else
                        {
                            @item.Price
                        }
                    </button>
                    <script> 
                        //window.onload = function () { Doesn't works because it's asking for the result
                        //    document.getElementById("shopping-btn").addEventListener("click", addProductToCart();
                        // }
                        //document.getElementById("shopping-btn").addEventListener("click", function () {
                        //    addProductToCart(@item.Id);
                        //});


                    </script>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-success" onclick="editGnome(@item.Id)">
                                    Edit
                                </button>
                            </div>
                            <div class="sol-sm-4">
                                <button class="btn btn-danger" onclick="deleteGnome(@item.Id)">
                                    Delete
                                </button>
                            </div>
                            <div class="sol-sm-4">
                                <button class="btn btn-primary" onclick="hideGnome(@item.Id)">
                                    Hide / Un-hide
                                </button>
                            </div>
                        </div>
                    }
                    <hr />
                </div>
            </div>
        }
    </div>
</div>

    


