@model HireGnome.ViewModels.CreateGnomeViewModel
@{
    ViewBag.Title = "Add a Gnome";
}

<h2>Add a new Gnome</h2>

@Html.ValidationSummary(true)
@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.LabelFor(u => u.Name)
    @Html.TextBoxFor(u => u.Name, new { @class = "form-control " })

    @Html.LabelFor(u => u.Details)
    @Html.TextBoxFor(u => u.Details, new { @class = "form-control " })

    @Html.LabelFor(u => u.Price)
    @Html.EditorFor(u => u.Price, new { @class = "form-control " })

    @Html.LabelFor(u => u.Offer)
    @Html.EditorFor(u => u.Offer, new { @class = "form-control " })
    <br />
    @Html.LabelFor(u => u.IsPublic)
    @Html.EditorFor(u => u.IsPublic, new { @class = "form-control " })
    <br />
    @Html.LabelFor(u => u.Image)
    @Html.TextBoxFor(u => u.Image, new { @class = "form-control " })

    @Html.LabelFor(u => u.Latitude)
    @Html.EditorFor(u => u.Latitude, new { @class = "form-control " })

    @Html.LabelFor(u => u.Longitude)
    @Html.EditorFor(u => u.Longitude, new { @class = "form-control " })

    <p>
        <button type="Submit" class="btn btn-primary btn-lg btn-block login-button">
            Save it
        </button>
    </p>

}

