@model HireGnome.Models.Products
@{
    ViewBag.Title = "EditGnome";
}

<h2>Edit @Model.Name the Gnome details:</h2>

@using (Html.BeginForm())
{
    <span>Name of the new product:</span> <input type="text" name="name" value="@Model.Name" /><br />
    <span>Description of the product:</span> <input type="text" name="details" value="@Model.Details" /><br />
    <span>Price of the product:</span> <input min="0" type="number" name="price" step="0.01" value="@Model.Price" /><br /> <!--Two decimals expected-->
    <span>Make product public?</span>
    if (Model.IsPublic)
    {
        <input type="checkbox" name="check_public" checked />
    }
    else
    {
        <input type="checkbox" name="check_public" />
    }
    <br />
    <span>Offer in percentaje, over the price:</span> <input type="range" id="range" name="offer" min="0" max="100" step="1" value="@Model.Offer" onchange="document.getElementById('rangeValLabel').innerHTML = this.value;" />
    <em id="rangeValLabel" style="font-style: normal;"></em><br />
    <input type="submit" value="Save changes" />
}

